.bracelets {
    color: blue;
}
.table {
    border-collapse: collapse;
}
th, td {
    padding: 0;
}

.butterfly-pattern {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pixel {
    min-width: 5px;
    min-height: 5px;
    width: 10px;
    height: 10px;
    border: 1px solid white;
}
table, tr, td {
    border-collapse: collapse;
    margin:  10px auto;
}